 .recommendMoviesWrapper{ 

     border: solid red; 
     max-width: 100%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.recommendMovies a img{
    width: 215px;
    height: 320px;
    margin: 5px;



} 